/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.flex {
    display: flex;
}
/* BODY */

.container {
    background-color: black;
    height: 100vh;
    position: relative;
}

.button {
    position: absolute;
    top: 0; 
    right: 0;
    padding: 2px;
}

/* LARGE SCREEN */

.screen {
    padding: 20px;
}

.card-row {
    width: 95%;
    margin: 25px auto;
    flex-wrap: wrap;
    
}

.card {
    width: calc(100% / 7);
    padding: 5px;
    position: relative;
}

span {
    position: absolute;
    bottom: 10px;
    left: 7px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

