/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
ul {
    list-style-type: none;
}

/* COMMON */
.flex {
    display: flex;
}

/* HEADER */

.button {
    height: 50px;
}

/* BODY */

main {
    background-color: black;
}

.button {
    position: absolute;
    top: 0; 
    right: 0;
    padding: 2px;
}

/* LARGE SCREEN */

.screen {
    height: 100%;
    padding: 20px;
    overflow: auto;
}

.card-row {
    width: 90%;
    margin: 25px auto;
    flex-wrap: wrap;
    
}

.card {
    width: calc(100% / 7);
    padding: 4px;
    position: relative;
}

span {
    position: absolute;
    bottom: 10px;
    left: 7px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/* FOOTER */

.footer-container {
    height: 70px;
    background-color: #222222;
    color: white;
}
.actions {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.action {
    align-items: center;
    justify-content: center;
    margin:0 10px ;
}

.action li {
    margin-left: 10px;
}

.fa-share-from-square {
    color: green;
}

.ending {
    color: red;
    background-color: #4a4a4a;
    height: 100%;
    line-height: 70px;
}

.action i {
    font-size: 1.6rem;
}